* {
  scroll-behavior: smooth; }

.navbar {
  background-color: #7665A6;
  font-family: 'Shadows Into Light', cursive;
  font-size: x-large; }

.jumbotron {
  background-color: #7665A6;
  margin-top: 0px; }

#imgLink {
  width: 300px;
  height: 200px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: xx-large; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.threePic {
  float: left;
  width: 33.33%;
  padding: 5px; }

.row::after {
  content: "";
  clear: both;
  display: table; }

.site-footer {
  background-image: linear-gradient(#7665A6, white);
  padding: 20px 0; }

#landing-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px; }

#landing-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }

#landing-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%; }

@media screen and (max-width: 800px) {
  #landing-column {
    flex: 25%;
    max-width: 25%; } }

@media screen and (max-width: 600px) {
  #landing-column {
    flex: auto;
    max-width: 100%; } }

.myButton {
  color: white;
  font-size: 22px;
  line-height: 22px;
  padding: 12px;
  border-radius: 20px;
  font-family: 'Shadows into Light', cursive;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  background-image: linear-gradient(135deg, #c1bafe 0%, #9d8ab7 62%, #675793 100%);
  border: 2px solid white;
  float: right; }
  .myButton a {
    color: white; }

.myButton:hover {
  background: #C1BAFE; }

.myButton:active {
  background: #675793; }
